.my-item {
    background-color: #f0f8ff;
}

.my-span {
    font-weight: 500;
    color: darkgreen;
}

.heading {
    text-align: center;
    background-color: antiquewhite;
    color: teal;
    font-weight: 700;
}